body {
    background-color: white;
    color: #FF00BF;
    text-shadow: 1px 1px 0px black; 
    width: 80%;
    font-family: Verdana, Sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.footer {
    padding-top:25px;
    font-size:70%;		
}


h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    color: #FF00BF;
    text-shadow: 1px 1px 0px black; 
}

h2 {
    text-align: center;
    font-weight: normal;
    color: #FF00BF;
    text-shadow: 1px 1px 0px black; 
}

h3,h4 {
    font-weight: normal; 
}

.talks { 
    list-style-type: none; 
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
}

.talks>li { 
    margin-bottom: 25px;
    line-height: 20px;
}

.title{
    font-size: 100%;
}

.speaker{
    line-height: 25px; 
    font-size:110%;
}

.next .info{
      background-color: #ddddff;
      color: black;
}

.info { 
    color: gray;
    background: #f8f8f8;
    padding: 6px;
    text-align: center;
    width: 5em;
    text-shadow: none;
}

.info b { 
    display: block;
    font-weight: normal;
    font-size: 110%;
}

.info.location{
    float: right;
    margin-right: -6em;
}

.info.date{
    float: left;
    margin-left: -8em;
}

.abstract{
    display: inline;
    font-size: 80%;
    padding: 1em;
}

.abstract a{
    color: black;
    outline: 0;	  
    text-decoration: none;
    color: #FF00BF;
    border-bottom: 1px dotted;
}

.abstract span{
    display: block;
    margin-top: 10px;
    text-align: justify;
}

.abstract.hidden span{
    display: none;
}
